<footer class="px2 gray" style="background-color:rgba(0, 0, 0, 0.8)">
  <div class="container">
    <div class="clearfix mxn2 p2">
      <!--
      <div class="col col-6 md-col-3">
        <ul class="list-reset">
          <li>
            <h3 class="h4 m0">
              <a href="#" class="tlg button block button-transparent">Home</a>
            </h3>
          </li>
          <li><a href="#" class="h5 button block button-transparent">Bacon</a></li>
          <li><a href="#" class="h5 button block button-transparent">Bratwurst</a></li>
          <li><a href="#" class="h5 button block button-transparent">Andouille</a></li>
          <li><a href="#" class="h5 button block button-transparent">Pork Loin</a></li>
        </ul>
      </div> -->
      <!--
      <div class="col col-6 md-col-3">
        <ul class="list-reset">
          <li>
            <h3 class="h4 m0">
              <a href="#" class="tlg button block button-transparent">Categories</a>
            </h3>
          </li>
          <li><a href="#" class="h5 button block button-transparent">Bacon</a></li>
          <li><a href="#" class="h5 button block button-transparent">Bratwurst</a></li>
          <li><a href="#" class="h5 button block button-transparent">Andouille</a></li>
          <li><a href="#" class="h5 button block button-transparent">Pork Loin</a></li>
        </ul>
      </div> 
      
      <div class="col col-6 md-col-3">
        <ul class="list-reset">
          <li>
            <h3 class="h4 m0">
              <a href="#" class="tlg button block button-transparent">Categories</a>
            </h3>
          </li>
          <li><a href="#" class="h5 button block button-transparent">Bacon</a></li>
          <li><a href="#" class="h5 button block button-transparent">Bratwurst</a></li>
          <li><a href="#" class="h5 button block button-transparent">Andouille</a></li>
          <li><a href="#" class="h5 button block button-transparent">Pork Loin</a></li>
        </ul>
      </div>
      <div class="col col-6 md-col-3">
        <ul class="list-reset">
          <li>
            <h3 class="h4 m0">
              <a href="#" class="tlg button block button-transparent">About</a>
            </h3>
          </li>
          <li><a href="#" class="h5 button block button-transparent">Bacon</a></li>
          <li><a href="#" class="h5 button block button-transparent">Bratwurst</a></li>
          <li><a href="#" class="h5 button block button-transparent">Andouille</a></li>
          <li><a href="#" class="h5 button block button-transparent">Pork Loin</a></li>
        </ul>
      </div>-->
    </div> 
   <div class="clearfix"> 
    <p class="p2 h6 ">&copy; 700apps.xyz, 2015. by <a href="//sammyc.tk" class="bold">Sammy Cheung</a> . 
    </p>
  </div>
</footer>