<footer class="px2 silver" style="background-color:rgba(0, 0, 0, 0.8)">
  <div class="container ">
    <div class="clearfix mxn2 p2">
      
      <div class="col col-6 md-col-3">
        <ul class="list-reset">
          
          <li class="inline-block"><a href="/about" class="h5 button block button-transparent">About</a></li>
          <li class="inline-block"><a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="h5 button block button-transparent">RSS</a></li>
          <!--
          <li><a href="#" class="h5 button block button-transparent">Andouille</a></li>
          <li><a href="#" class="h5 button block button-transparent">Pork Loin</a></li> -->
        </ul>
      </div> 
      <!--
      <div class="col col-6 md-col-3">
        <ul class="list-reset">
          <li>
            <h3 class="h4 m0">
              <a href="#" class="tlg button block button-transparent">Categories</a>
            </h3>
          </li>
          <li><a href="#" class="h5 button block button-transparent">Bacon</a></li>
          <li><a href="#" class="h5 button block button-transparent">Bratwurst</a></li>
          <li><a href="#" class="h5 button block button-transparent">Andouille</a></li>
          <li><a href="#" class="h5 button block button-transparent">Pork Loin</a></li>
        </ul>
      </div> 
      
      <div class="col col-6 md-col-3">
        <ul class="list-reset">
          <li>
            <h3 class="h4 m0">
              <a href="#" class="tlg button block button-transparent">Categories</a>
            </h3>
          </li>
          <li><a href="#" class="h5 button block button-transparent">Bacon</a></li>
          <li><a href="#" class="h5 button block button-transparent">Bratwurst</a></li>
          <li><a href="#" class="h5 button block button-transparent">Andouille</a></li>
          <li><a href="#" class="h5 button block button-transparent">Pork Loin</a></li>
        </ul>
      </div>
      <div class="col col-6 md-col-3">
        <ul class="list-reset">
          <li>
            <h3 class="h4 m0">
              <a href="#" class="tlg button block button-transparent">About</a>
            </h3>
          </li>
          <li><a href="#" class="h5 button block button-transparent">Bacon</a></li>
          <li><a href="#" class="h5 button block button-transparent">Bratwurst</a></li>
          <li><a href="#" class="h5 button block button-transparent">Andouille</a></li>
          <li><a href="#" class="h5 button block button-transparent">Pork Loin</a></li>
        </ul>
      </div>-->
    </div> 
   <div class="clearfix"> 
    <p class="px2 h6 ">&copy; <span class="red">7</span><span class="orange">0</span><span class="yellow">0</span><span class="green">a</span><span class="teal">p</span><span class="aqua">p</span><span class="purple">s</span>.<span class="white">x</span><span class="silver">y</span><span class="gray">z</span>, 2015. by <a href="//sammyc.tk" class="white">Sammy Cheung</a> . 
    </p>
  </div>
</footer>