<header class="px2">

  

  <nav class="clearfix white bg-navy fixed top-0 left-0 z4" style="width:100%;background-color:rgba(0, 0, 0, 0.8)">
  

  <div class="container">
  <div class="col white p2  site-name">

  <nav class="clearfix white bg-navy sm-show" style="height:60px; margin-bottom:50px;">
  <!--
  <div class="md-show lg-hide">
  <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-9/65603506.jpg" height="60">
  </div> -->

  <!--<div class="lg-show">
    <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-9/65603506.jpg" height="100">
  </div>  -->
  <div class="container">
  
  <div class="col px2 py3 md-show absolute">
  <a href="/" class="hvr-transparent">
  <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-9/65603506.jpg" height="80"></a>
  </div>

  <div class="col white py2 md-hide site-name">


  <a href="/" class="button button-transparent tlg">700apps.<span class="red">x</span><span class="yellow">y</span><span class="blue">z</span></a>
  </div>

  <div class="col-right p2 ">
    
    <a href="/about" class="t300 button button-transparent px2">About</a>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="t300 button button-transparent px2">RSS</a>
  </div>
  </div>
</nav>


<!--
<div class="clearfix white" style="margin-top:53px; background-color:rgba(0, 31, 63, 0.81)">
<div class="container">
    <div class="col md-show lg-hide p2">
  <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-9/65603506.jpg" height="60">
  </div>

  <div class="col lg-show p2">
    <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-9/65603506.jpg" height="100">
  </div> 
  
  
 </div> 
</div>
-->


<nav class="clearfix white bg-navy sm-hide">
  <div class="col white py2 site-name">
  <a href="/" class="button button-transparent tlg">700apps.<span class="red">x</span><span class="yellow">y</span><span class="blue">z</span></a>
  </div>
  <div class="col-right">
    
</nav>

</header>