<header class="px2">

  
  <nav class="clearfix white bg-navy fixed top-0 left-0 z4" style="width:100%;background-color:rgba(0, 0, 0, 0.8)">
  

  <div class="container">
  <div class="col white px2  site-name">
  
  <h2 style="font-size:16px"><a href="/" class="button button-transparent tlg">
  <span class="red">7</span><span class="orange">0</span><span class="yellow">0</span><span class="green">a</span><span class="teal">p</span><span class="aqua">p</span><span class="purple">s</span>.<span class="white">x</span><span class="silver">y</span><span class="gray">z</span>
  </a></h2>
  </div>

  <div class="col-right p2 ">
    

    
  </div>
  </div>
</nav>

<!--
<div class="clearfix white" style="margin-top:53px; background-color:rgba(0, 31, 63, 0.81)">
<div class="container">
    <div class="col md-show lg-hide p2">
  <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-9/65603506.jpg" height="60">
  </div>

  <div class="col lg-show p2">
    <img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-9/65603506.jpg" height="100">
  </div> 
  
  
 </div> 
</div>
-->

</header>