<header>

  
  <nav class="clearfix white bg-navy">
  <div class="container">
  <div class="col white py2 pl2 site-name">
  <a href="/" class="button button-transparent tlg">700apps.<span class="red">x</span><span class="yellow">y</span><span class="blue">z</span></a>
  </div>
  

  <div class="col-right py2 ">
    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>
    <a href="/about" class="t300 button button-transparent px2">About</a>
    <a href="{{ "/feed.xml" | prepend: site.baseurl }}" class="t300 button button-transparent px2">RSS</a>
  </div>
  </div>
</nav>


</header>