<!DOCTYPE html>
<html xmlns:wb="http://open.weibo.com/wb">

  {% include head.html %}

  <body style="background-color:rgba(243, 243, 243, 1)">
  <!-- Google Analystics -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-6546661-4', 'auto');
  ga('send', 'pageview');
  </script>


  <!-- Facebook share button -->
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/zh_CN/sdk.js#xfbml=1&version=v2.3";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

  <!-- Duoshuo Comment System-->
  <script type="text/javascript">
var duoshuoQuery = {short_name:"700apps"};
  (function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] 
     || document.getElementsByTagName('body')[0]).appendChild(ds);
  })();
  </script>

  <div class="flex flex-column" style="min-height:100vh;">

    {% include header.html %}

    <div class="page-content flex-auto mt4 mb2 ml1 mr1">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </div>
  </body>

</html>
