---
layout: default
---
<div class="post container">

<div class="p2">
  <header class="post-header p2">
  	<div class="center">
    <h1 class="post-title inline-block py2"><a href="{{ post.url | prepend: site.baseurl }}" class="black">{{ page.title }}</a></h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
    </div>
  </header>

  <div class="app-infocard fixed right-0 top-0" >
    <a href="{{ page.link }}" style="background-color: transparent;"><img src="http://7xixe7.com1.z0.glb.clouddn.com/15-6-9/16786407-Download_on_the_App_Store_Badge_US-UK_135x40.svg"></a>
    </div>

  <article class="post-content p2">
    {{ content }}
  </article>

  <div class="fb-share-button p2" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></div>

	<div class="reset-all">
	<div id="ds-thread" class="ds-thread py4" data-url="{{ page.url }}" data-title="{{ page.title }}" data-thread-key="{{ page.title }}"></div>
	</div>
</div>
</div>
